# Introduction to Python

In [1]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

Oficiálny python tutoriál: [https://docs.python.org/3.8/tutorial/index.html](https://docs.python.org/3.8/tutorial/index.html) 

URL [https://github.com/jerry-git/learn-python3](https://github.com/jerry-git/learn-python3)

Postupne si prechádzajte a púšťajte jednotlivé bunky (dá sa aj s Ctrl + Enter).

**STRING**

In [2]:
my_string = 'Python is my favorite programming language!'

In [3]:
my_string

'Python is my favorite programming language!'

In [4]:
type(my_string)

str

In [5]:
len(my_string)

43

In [6]:
long_story = ('Lorem ipsum dolor sit amet, consectetur adipiscing elit.' 
              'Pellentesque eget tincidunt felis. Ut ac vestibulum est.' 
              'In sed ipsum sit amet sapien scelerisque bibendum. Sed ' 
              'sagittis purus eu diam fermentum pellentesque.')
long_story

'Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eget tincidunt felis. Ut ac vestibulum est.In sed ipsum sit amet sapien scelerisque bibendum. Sed sagittis purus eu diam fermentum pellentesque.'

**str.replace()**

This will not modify my_string because replace is not done in-place.

In [7]:
my_string.replace('a', '?')
print(my_string)

Python is my favorite programming language!

You have to store the return value of replace instead.

In [8]:
my_modified_string = my_string.replace('is', 'will be')
print(my_modified_string)

Python will be my favorite programming language!

**str.format()**

In [9]:
secret = '{} is cool'.format('Python')
print(secret)

Python is cool

In [10]:
print('My name is {} {}, you can call me {}.'.format('John', 'Doe', 'John'))
# is the same as:
print('My name is {first} {family}, you can call me {first}.'.format(first='John', family='Doe'))

My name is John Doe, you can call me John.
My name is John Doe, you can call me John.

**str.join()**

In [11]:
pandas = 'pandas'
numpy = 'numpy'
requests = 'requests'
cool_python_libs = ', '.join([pandas, numpy, requests])

In [12]:
print('Some cool python libraries: {}'.format(cool_python_libs))

Some cool python libraries: pandas, numpy, requests

**str.upper(), str.lower(), str.title()**

In [13]:
mixed_case = 'PyTHoN hackER'

In [14]:
mixed_case.upper()

'PYTHON HACKER'

In [15]:
mixed_case.lower()

'python hacker'

In [16]:
mixed_case.title()

'Python Hacker'

**Escape characters**

In [17]:
two_lines = 'First line\nSecond line'
print(two_lines)

First line
Second line

In [18]:
indented = '\tThis will be indented'
print(indented)

	This will be indented

**str.strip()**

In [19]:
ugly_formatted = ' \n \t Some story to tell '
stripped = ugly_formatted.strip()

print('ugly: {}'.format(ugly_formatted))
print('stripped: {}'.format(ugly_formatted.strip()))

ugly:
 	 Some story to tell
stripped: Some story to tell

**str.split()**

In [20]:
sentence = 'three different words'
words = sentence.split()
print(words)

['three', 'different', 'words']

In [21]:
type(words)

list

In [22]:
secret_binary_data = '01001,101101,11100000'
binaries = secret_binary_data.split(',')
print(binaries)

['01001', '101101', '11100000']

**Calling multiple methods in a row**

In [23]:
ugly_mixed_case = '   ThIS LooKs BAd '
pretty = ugly_mixed_case.strip().lower().replace('bad', 'good')
print(pretty)

this looks good

**FUNCTIONS**

In [24]:
def my_first_function():
    print('Hello world!')

print('type: {}'.format(my_first_function))

my_first_function()  # Calling a function

type: <function my_first_function at 0x000002490B4DFF70>
Hello world!

In [25]:
# Function with return value
def strip_and_lowercase(original):
    modified = original.strip().lower()
    return modified

uggly_string = '  MixED CaSe '
pretty = strip_and_lowercase(uggly_string)
print('pretty: {}'.format(pretty))

pretty: mixed case

**Lists**

In [26]:
my_empty_list = []
print('empty list: {}, type: {}'.format(my_empty_list, type(my_empty_list)))

empty list: [], type: <class 'list'>

In [27]:
list_of_ints = [1, 2, 6, 7]
list_of_misc = [0.2, 5, 'Python', 'is', 'still fun', '!']
print('lengths: {} and {}'.format(len(list_of_ints), len(list_of_misc)))

lengths: 4 and 6

Accessing values

In [28]:
my_list = ['Python', 'is', 'still', 'cool']
print(my_list[0])
print(my_list[3])

Python
cool

In [29]:
coordinates = [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1]]  # two dimensional
print('first coordinate: {}'.format(coordinates[0]))
print('second element of first coordinate: {}'.format(coordinates[0][1]))

first coordinate: [12.0, 13.3]
second element of first coordinate: 13.3

Updating values

In [30]:
my_list = [0, 1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

# remove first value
del my_list[0]
print(my_list)

[99, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Checking if certain value is present in list

In [31]:
languages = ['Java', 'C++', 'Go', 'Python', 'JavaScript']
if 'Python' in languages:
    print('Python is there!')

Python is there!

In [32]:
if 6 not in [1, 2, 3, 7]:
    print('number 6 is not present')

number 6 is not present

List are mutable

In [33]:
original = [1, 2, 3]
modified = original
modified[0] = 99
print('original: {}, modified: {}'.format(original, modified))

original: [99, 2, 3], modified: [99, 2, 3]

You can get around this by creating new list:

In [34]:
original = [1, 2, 3]
modified = list(original)  # Note list() 
# Alternatively, you can use copy method
# modified = original.copy()
modified[0] = 99
print('original: {}, modified: {}'.format(original, modified))

original: [1, 2, 3], modified: [99, 2, 3]

**list.append()**

In [35]:
my_list = [1]
my_list.append('ham')
print(my_list)

[1, 'ham']

**list.remove()**

In [36]:
my_list = ['Python', 'is', 'sometimes', 'fun']
my_list.remove('sometimes')
print(my_list)

# If you are not sure that the value is in list, better to check first:
if 'Java' in my_list:
    my_list.remove('Java')
else:
    print('Java is not part of this story.')

['Python', 'is', 'fun']
Java is not part of this story.

**list.sort()**

In [37]:
numbers = [8, 1, 6, 5, 10]
numbers.sort()
print('numbers: {}'.format(numbers))

numbers.sort(reverse=True)
print('numbers reversed: {}'.format(numbers))

words = ['this', 'is', 'a', 'list', 'of', 'words']
words.sort()
print('words: {}'.format(words))

numbers: [1, 5, 6, 8, 10]
numbers reversed: [10, 8, 6, 5, 1]
words: ['a', 'is', 'list', 'of', 'this', 'words']

**sorted(list)**

While list.sort() sorts the list in-place, sorted(list) returns a new list and leaves the original untouched:

In [38]:
numbers = [8, 1, 6, 5, 10]
sorted_numbers = sorted(numbers)
print('numbers: {}, sorted: {}'.format(numbers, sorted_numbers))

numbers: [8, 1, 6, 5, 10], sorted: [1, 5, 6, 8, 10]

**list.extend()**

In [39]:
first_list = ['beef', 'ham']
second_list = ['potatoes',1 ,3]
first_list.extend(second_list)
print('first: {}, second: {}'.format(first_list, second_list))

first: ['beef', 'ham', 'potatoes', 1, 3], second: ['potatoes', 1, 3]

Alternatively you can also extend lists by summing them:

In [40]:
first = [1, 2, 3]
second = [4, 5]
first += second  # same as: first = first + second
print('first: {}'.format(first))

# If you need a new list
summed = first + second
print('summed: {}'.format(summed))

first: [1, 2, 3, 4, 5]
summed: [1, 2, 3, 4, 5, 4, 5]

**list.reverse()**

In [41]:
my_list = ['a', 'b', 'ham']
my_list.reverse()
print(my_list)

['ham', 'b', 'a']

**LOOPS**

In [42]:
my_list = [1, 2, 3, 4, 'Python', 'is', 'neat']
for item in my_list:
    print(item)

1
2
3
4
Python
is
neat

In [43]:
for item in my_list:
    if item == 'Python':
        break
    print(item)

1
2
3
4

In [44]:
for item in my_list:
    if item == 1:
        continue
    print(item)

2
3
4
Python
is
neat

In [45]:
# enumerate tells us the index

for idx, val in enumerate(my_list):
    print('idx: {}, value: {}'.format(idx, val))

idx: 0, value: 1
idx: 1, value: 2
idx: 2, value: 3
idx: 3, value: 4
idx: 4, value: Python
idx: 5, value: is
idx: 6, value: neat

In [46]:
for number in range(5):
    print(number)

0
1
2
3
4

In [47]:
for number in range(5):
    print(number)

0
1
2
3
4

In [48]:
for number in range(2, 5):
    print(number)

2
3
4

In [49]:
for number in range(0, 10, 2):  # last one is step
    print(number)

0
2
4
6
8

**Dictionaries**

In [50]:
my_empty_dict = {}  # alternative: my_empty_dict = dict()
print('dict: {}, type: {}'.format(my_empty_dict, type(my_empty_dict)))

dict: {}, type: <class 'dict'>

In [51]:
dict1 = {'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
dict2 = dict(value1=1.6, value2=10, name='John Doe')

print(dict1)
print(dict2)

print('equal: {}'.format(dict1 == dict2))
print('length: {}'.format(len(dict1)))

{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
equal: True
length: 3

In [52]:
my_dict = {}
my_dict['key1'] = 'value1'
my_dict['key2'] = 99
my_dict['key1'] = 'new value'  # overriding existing value
print(my_dict)
print('value of key1: {}'.format(my_dict['key1']))

{'key1': 'new value', 'key2': 99}
value of key1: new value

In [53]:
my_dict = {'key1': 'value1', 'key2': 99, 'keyX': 'valueX'}
del my_dict['keyX']
print(my_dict)

# Usually better to make sure that the key exists (see also pop() and popitem())
key_to_delete = 'my_key'
if key_to_delete in my_dict:
    del my_dict[key_to_delete]
else:
    print('{key} is not in {dictionary}'.format(key=key_to_delete, dictionary=my_dict))

{'key1': 'value1', 'key2': 99}
my_key is not in {'key1': 'value1', 'key2': 99}

Dictionaries are mutable¶

In [54]:
my_dict = {'ham': 'good', 'carrot': 'semi good'}
my_other_dict = my_dict
my_other_dict['carrot'] = 'super tasty'
my_other_dict['sausage'] = 'best ever'
print('my_dict: {}\nother: {}'.format(my_dict, my_other_dict))
print('equal: {}'.format(my_dict == my_other_dict))

my_dict: {'ham': 'good', 'carrot': 'super tasty', 'sausage': 'best ever'}
other: {'ham': 'good', 'carrot': 'super tasty', 'sausage': 'best ever'}
equal: True

Create a new dict if you want to have a copy:

In [55]:
my_dict = {'ham': 'good', 'carrot': 'semi good'}
my_other_dict = dict(my_dict)
my_other_dict['beer'] = 'decent'
print('my_dict: {}\nother: {}'.format(my_dict, my_other_dict))
print('equal: {}'.format(my_dict == my_other_dict))

my_dict: {'ham': 'good', 'carrot': 'semi good'}
other: {'ham': 'good', 'carrot': 'semi good', 'beer': 'decent'}
equal: False

**dict.get()**


Returns None if key is not in dict. However, you can also specify default return value which will be returned if key is not present in the dict.

In [56]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
d = my_dict.get('d')
print('d: {}'.format(d))

d = my_dict.get('d', 'my default value')
print('d: {}'.format(d))

d: None
d: my default value


**dict.pop()**

In [57]:
my_dict = dict(food='ham', drink='beer', sport='football')
print('dict before pops: {}'.format(my_dict))

food = my_dict.pop('food')
print('food: {}'.format(food))
print('dict after popping food: {}'.format(my_dict))

food_again = my_dict.pop('food', 'default value for food')
print('food again: {}'.format(food_again))
print('dict after popping food again: {}'.format(my_dict))

dict before pops: {'food': 'ham', 'drink': 'beer', 'sport': 'football'}
food: ham
dict after popping food: {'drink': 'beer', 'sport': 'football'}
food again: default value for food
dict after popping food again: {'drink': 'beer', 'sport': 'football'}

**dict.setdefault()**

Returns the value of key defined as first parameter. If the key is not present in the dict, adds key with default value (second parameter).

In [58]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
a = my_dict.setdefault('a', 'my default value')
d = my_dict.setdefault('d', 'my default value')
print('a: {}\nd: {}\nmy_dict: {}'.format(a, d, my_dict))

a: 1
d: my default value
my_dict: {'a': 1, 'b': 2, 'c': 3, 'd': 'my default value'}

**Conditionals**

In [59]:
print('type of True and False: {}'.format(type(True)))

type of True and False: <class 'bool'>

In [60]:
print('0: {}, 1: {}'.format(bool(0), bool(1)))
print('empty list: {}, list with values: {}'.format(bool([]), bool(['woop'])))
print('empty dict: {}, dict with values: {}'.format(bool({}), bool({'Python': 'cool'})))

0: False, 1: True
empty list: False, list with values: True
empty dict: False, dict with values: True

==, !=, >, <, >=, <=

In [61]:
print('1 == 0: {}'.format(1 == 0))
print('1 != 0: {}'.format(1 != 0))
print('1 > 0: {}'.format(1 > 0))
print('1 > 1: {}'.format(1 > 1))
print('1 < 0: {}'.format(1 < 0))
print('1 < 1: {}'.format(1 < 1))
print('1 >= 0: {}'.format(1 >= 0))
print('1 >= 1: {}'.format(1 >= 1))
print('1 <= 0: {}'.format(1 <= 0))
print('1 <= 1: {}'.format(1 <= 1))

1 == 0: False
1 != 0: True
1 > 0: True
1 > 1: False
1 < 0: False
1 < 1: False
1 >= 0: True
1 >= 1: True
1 <= 0: False
1 <= 1: True

In [62]:
print('1 <= 2 <= 3: {}'.format(1 <= 2 <= 3))

1 <= 2 <= 3: True

**and, or, not**

In [63]:
python_is_cool = True
java_is_cool = False
empty_list = []
secret_value = 3.14

In [64]:
print('Python and java are both cool: {}'.format(python_is_cool and java_is_cool))
print('secret_value and python_is_cool: {}'.format(secret_value and python_is_cool))

Python and java are both cool: False
secret_value and python_is_cool: True

In [65]:
print('Python or java is cool: {}'.format(python_is_cool or java_is_cool))
print('1 >= 1.1 or 2 < float("1.4"): {}'.format(1 >= 1.1 or 2 < float('1.4')))

Python or java is cool: True
1 >= 1.1 or 2 < float("1.4"): False

In [66]:
print('Java is not cool: {}'.format(not java_is_cool))

Java is not cool: True

You can combine multiple statements, execution order is from left to right. You can control the execution order by using brackets.

In [67]:
print(bool(not java_is_cool or secret_value and  python_is_cool or empty_list))
print(bool(not (java_is_cool or secret_value and  python_is_cool or empty_list)))

True
False

**if if-else if-elif-else**

In [68]:
statement = True
if statement:
    print('statement is True')
    
if not statement:
    print('statement is not True')

statement is True

In [69]:
empty_list = []
# With if and elif, conversion to `bool` is implicit
if empty_list:
    print('empty list will not evaluate to True')  # this won't be executed

In [70]:
val = 3
if 0 <= val < 1 or val == 3:
    print('Value is positive and less than one or value is three')

Value is positive and less than one or value is three

In [71]:
my_dict = {}
if my_dict:
    print('there is something in my dict')
else:
    print('my dict is empty :(')

my dict is empty :(

In [72]:
val = 88
if val >= 100:
    print('value is equal or greater than 100')
elif val > 10:
    print('value is greater than 10 but less than 100')
else:
    print('value is equal or less than 10')

value is greater than 10 but less than 100

You can have as many elif statements as you need. In addition, else at the end is not mandatory.

In [73]:
greeting = 'Hello fellow Pythonista!'
language = 'Italian'

if language == 'Swedish':
    greeting = 'Hejsan!'
elif language == 'Finnish':
    greeting = 'Latua perkele!'
elif language == 'Spanish':
    greeting = 'Hola!'
elif language == 'German':
    greeting = 'Guten Tag!'
    
print(greeting)

Hello fellow Pythonista!

**int**

In [74]:
my_int = 6
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 6, type: <class 'int'>

**float**

In [75]:
my_float = float(my_int)
print('value: {}, type: {}'.format(my_float, type(my_float)))

value: 6.0, type: <class 'float'>

Note that division of ints produces float:

In [76]:
print(1 / 1)
print(6 / 5)

1.0
1.2

Be aware of the binary floating-point pitfalls (see Decimal for workaround):

In [77]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

**Floor division //, modulus %, power ****

In [78]:
7 // 5

1

In [79]:
7 % 5

2

In [80]:
2 ** 3

8

**Operator precedence in calculations**

Mathematical operator precedence applies. Use brackets if you want to change the execution order:

In [81]:
print(1 + 2**2 * 3 / 6) # 1 + 4 * 3 / 6 == 1 + 12 / 6 == 1 + 2
print((1 + 2**2) * 3 / 6)

3.0
2.5

#Úlohy

**Úloha 1**

Máte zadané pole stringov.

In [82]:
pole_na_rozdelenie = ["Fiit", "fiit", "megadlhystring!!!", "autobiografia", "Alica", "python", "pip", "env", "jupyter", "IAU"]

Napíšte funkciu, ktorá pre zadané pole stringov vráti nové pole obsahujúce len stringy na prvočíselných indexoch. Potom túto funkciu zavolajte s vyššie deklarovaným polom ako parameter.

In [83]:
# Miesto pre Váš kód

Napíšte program, ktorý vyššie deklarované pole rozdelí do 3 nových polí, pričom v jednom poli budú stringy dĺžky menej ako 5. V druhom poli stringy dĺžky medzi 5 a 10 (vrátane) a stringy začínajúce na písmeno "a" alebo ľubovoľné veľké písmeno pričom je string **ľubovoľnej** dĺžky. V treťom poli všetky ostatné stringy.

In [84]:
# Miesto pre Váš kód

**Úloha 2**

Máme zadané pole intov.

In [85]:
pole = [1, 4, 5, 1, 7, 5, 1, 5, 4, 2, 3, 4]
#pole = [1,2,3,4,5,5,6,6,4,4,5,5,12,12,1,1,1,1,1,2,1]
#pole = [1,1,2,20]

Napíšte funkciu, ktorá nám povie pre pole intov, či sa dá toto pole rozdeliť do dvoch polí s rovnakým súčtom. Potom túto funckiu zavolajte na vyššie deklarované pole.

In [86]:
# Váš kód

Skúste túto funkciu rozšíriť. Ak sa toto pole dá rozdeliť do dvoch polí s rovnakým súčtom, vypíšte takéto dve polia (ľubovoľné, ktoré sĺňajú podmienku rovnakého súčtu).

In [87]:
# Váš kód: (P. Hradský)
def rovnaky_sucet(zoz):
    sum_1 = 0
    sum_2 = 0
    zoz_1 = []
    zoz_2 = []
    zoz.sort()
    zoz.reverse()
    for i in zoz:
        if sum_1 <= sum_2:
            sum_1 += i
            zoz_1.append(i)
        else:
            sum_2 += i
            zoz_2.append(i)
    if sum_1 == sum_2: return (zoz_1, sum(zoz_1), zoz_2, sum(zoz_2)) 
    else: return False

rovnaky_sucet(pole)

([7, 5, 4, 3, 1, 1], 21, [5, 5, 4, 4, 2, 1], 21)

In [88]:
# Váš kód: (M. Boros)
def najdi_polia(pole):
    pole.sort()
    sucet = sum(pole)
    if sucet % 2 :
        print("Neda sa rozdelit!!")
        return 0
    polovica = sucet / 2
    docasny_sucet = 0

    pole1 = []
    while (docasny_sucet < polovica):
        if pole[0] > polovica:
            print("Neda sa rozdelit!!")
            return 0
        pole1.append(pole[0])
        docasny_sucet = sum(pole1)
        pole.pop(0)

    i = 0
    if sum(pole1) != polovica:
        while pole1[i] != sum(pole1) - polovica:
            i += 1
        pole.append(pole1[i])
        pole1.pop(i)

    print(pole1, sum(pole1))

najdi_polia(pole)
print(pole, sum(pole))

[1, 1, 1, 2, 3, 4, 4, 5] 21
[5, 5, 7, 4] 21